
.App {
  margin: 0;
  max-width: 100%;
}


.game-container {
  @media screen and (min-width: 700px) {

    width: 560px;
  }
  
  position: relative;
  padding: 0;
  width: 280px;
  margin: 10vh auto;
  display: flex;
  flex-wrap: wrap;
} 

