.btn {
  box-sizing: border-box;
  width: 140px;
  height: 140px;
  flex: 0 0 50%;
  transition: all .5s; }
  @media screen and (min-width: 700px) {
    .btn {
      height: 280px;
      width: 280px; } }

.green {
  border-top-left-radius: 100%;
  background-color: #00a74a;
  border: solid 3px #007e38; }

.red {
  border-top-right-radius: 100%;
  background-color: #c7002a;
  border: solid 3px #a30022; }

.yellow {
  border-bottom-left-radius: 100%;
  background-color: yellow;
  border: solid 3px #e6e600; }

.blue {
  border-bottom-right-radius: 100%;
  background-color: #0100a9;
  border: solid 3px #01006c; }

.on-green {
  z-index: 100;
  border: solid 2px #00f46c;
  background: #00da61;
  animation: green-glow 1s ease-in infinite alternate; }

.on-blue {
  z-index: 100;
  border: solid 2px #0201ff;
  background: #0100eb;
  animation: blue-glow 1s ease-in infinite alternate; }

.on-red {
  z-index: 100;
  border: solid 2px #ff1546;
  background: #fa0035;
  animation: red-glow 1s ease-in infinite alternate; }

.on-yellow {
  z-index: 100;
  border: solid 2px #ffff5c;
  background: #ffff47;
  animation: yellow-glow 1s ease-in infinite alternate; }

@keyframes red-glow {
  from {
    box-shadow: 0 0 10px #ff6182, 0 0 20px #ff6182, 0 0 30px #ff6182; }
  to {
    box-shadow: 0 0 5px #ff6182, 0 0 10px #ff6182, 0 0 15px #ff6182; } }

@keyframes blue-glow {
  from {
    box-shadow: 0 0 10px #4443ff, 0 0 20px #4443ff, 0 0 30px #4443ff; }
  to {
    box-shadow: 0 0 5px #4443ff, 0 0 10px #4443ff, 0 0 15px #4443ff; } }

@keyframes yellow-glow {
  from {
    box-shadow: 0 0 10px #ffff99, 0 0 20px #ffff99, 0 0 30px #ffff66; }
  to {
    box-shadow: 0 0 5px #ffff99, 0 0 10px #ffff99, 0 0 15px #ffff66; } }

@keyframes green-glow {
  from {
    box-shadow: 0 0 10px #41ff95, 0 0 20px #41ff95, 0 0 30px #0eff79; }
  to {
    box-shadow: 0 0 5px #41ff95, 0 0 10px #41ff95, 0 0 15px #0eff79; } }
