.control {
  @media screen and (min-width: 700px) {

    width: 280px;
    height: 280px;
	top: 140px;
	left: 140px;    
  }	
	
	z-index: 200;
	border-radius: 100%;
	position: absolute;
	top: 70px;
	left: 70px;    
	width: 140px;
	height: 140px;
	border: solid 2px #444;
	background: #DDD;
	
	box-shadow: 0 0 5px rgba(17, 17, 17, .8);
}


.buttons-container {
	position: relative;
	margin: 0 auto;
	text-align: center;

	top: 100px;

	@media screen and (min-width: 700px) {
		top: 200px;
	}



	// display: flex;

	div {
		@media screen and (min-width: 700px) {
			width: 50px;				
		}

		width: 30px;
		position: relative;
		display: inline-block;
		text-align: center;
	}



}