@font-face {
  font-family: 'Dosis-SemiBold';
  src: url("../fonts/Dosis-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.label-switch {
  font-family: 'Dosis-SemiBold';
  font-size: 14px;
  border-radius: 23px;
  cursor: pointer;
  display: inline-block;
  height: 23px;
  position: relative;
  width: 48px; }

.label-switch input[type="checkbox"] {
  display: none; }

.label-switch input[type="checkbox"] + .checkbox {
  background: #e8e8e8;
  border: 0;
  border-radius: 23px;
  cursor: pointer;
  height: 23px;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.3s ease;
  width: 48px;
  z-index: 1000; }

.label-switch input[type="checkbox"] + .checkbox::before {
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 2px;
  background: white;
  border-radius: 23px;
  content: "";
  height: 21px;
  transform: scale(1);
  transition: all 0.3s ease;
  width: 46px;
  z-index: 1001; }

.label-switch input[type="checkbox"] + .checkbox::after {
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 2px;
  height: 21px;
  width: 21px;
  background: white;
  border-radius: 21px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  content: "";
  transition: all 0.3s ease;
  z-index: 1002; }

.label-switch input[type="checkbox"]:checked + .checkbox {
  background: #477DCA; }

.label-switch input[type="checkbox"]:checked + .checkbox::before {
  transform: scale(0); }

.label-switch input[type="checkbox"]:checked + .checkbox::after {
  left: 26px; }
